.datatable-rowexpansion-demo .product-image {
    width: 100px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.datatable-rowexpansion-demo .orders-subtable {
    padding: 1rem;
}

.expandRow {
    margin-left: 48px;
}

  
  .content {
    margin: 12px 36px;
    border: 1px solid #808080;
    padding: 10px;
    height: 314px;
    border-radius: 5px;
  }

  .cardAlign{
    margin: 7px 35px;
    border: 1px solid #808080;
    border-radius: 10px;
    height: 24rem;
    overflow: auto;
  }

  .p-card-content {
    margin-top: -15px;
    white-space: pre-line;
}